.table-container-1 {
  position: relative;
  overflow: auto;
}

table.alliestable td, table.alliestable th {
  padding: 3px 3px;
  width: 98%;
}

.container-1 {
  position: relative;
  min-height: 200px;
}

.loading-shade-1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
