table {
  width: 100%;
}

.mat-column-Clave {
  flex: 0 0 40%;
}
.mat-column-Idioma {
  flex: 0 0 10%;
}
.mat-column-Descripcion {
  flex: 0 0 20%;
}
.mat-column-Resultado {
  flex: 0 0 10%;
}
.mat-column-MensajeError {
  flex: 0 0 20%;
}
