.orange-icon2 {
    color: orangered !important;
    font-size: 15px !important;
    height: 15px !important;
    width: 15px !important;
}

.white-icon {
    color: white !important;
}

.green-small-icon {
    color: greenyellow !important;
    height: 24px;
    width: 24px;
}

mat-list-item {
    height: auto !important;
}

.orange-icon {
  color: orange;
  font-size: 15px;
    height: 15px;
    width: 15px;
}
