.mat-button-toggle-group {
  margin: 0px 0px 20px 0px;
}

.mat-button-toggle-checked {
  background-color: #1E88E5;
  color: white;
}

.margintop {
  margin: 10px 0px 0px 0px;
}

.buttonAling {
  text-align: center;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.mat-chip-fv {
  background-color: #1E88E5 !important;
  color: #fff !important;
}

.mat-chip-nc {
  background-color: #FFB22B !important;
  color: #fff !important;
}
