table td,
table th {
    padding: 5px 5px;
}

.mat-cell {
    font-size: 12px;
}

.icons {
  display: flex;
  position: relative;
  .mat-icon {
      font-size: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
      min-width: 1.5rem;;
      min-height: 1.5rem;
  }
  .mat-icon[shape="success-standard"] {
      color: #60b515;
  }
  .mat-icon[shape="error-standard"] {
      color: #c92100
  }
}
